body {
  background-color: #FED47A;
}

.account {
	max-width: 6%;
	height: auto;
	position: absolute;
	top: 1vw;
	left: 2vw;
}
.account:hover {
	transform: scale(1.2);
}

.signout {
	max-width: 6%;
	height: auto;
	position: absolute;
	top: 1vw;
	left: 92vw;
}
.signout:hover {
	transform: scale(1.2);
}

.back {
	background-color: #4CAF50;
	border: 0.3vw solid #000000;
	border-radius: 5vw;	
	color: black;
	padding: 1vw 1vw;
	text-align: center;
	display: inline-block;
	font-size: 2.5vw;	
	position: absolute;
	top: 43vw;
	left: 45vw;
}
.back:hover {
	transform: scale(1.2);
}

.disease_name_class {
	font-size:4vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	text-align: center;
	top: 1vw;
	left: 50vw;
	transform: translate(-50%, 0); 
}

.disease_dsc_class {
	font-size:1.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	text-align: center;
	top: 8vw;
	left: 8vw;
	right: 8vw;
}

.precautions_tag {
	font-size:2vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 16vw;
	right: 82vw;
}

.precautions {
	font-size:1.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 16.4vw;
	left: 19vw;
	right: 8vw;
}

#symptom_chart_1 {
	width: 40vw;
	height: 20vw;
	position: absolute;
	top: 20vw;
	left: 2vw;
}

#symptom_chart_2 {
	width: 40vw;
	height: 20vw;
	position: absolute;
	top: 20vw;
	left: 55vw;
}

.chart1_desc {
	font-size:1.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 41vw;
	left: 15vw;
}

.chart2_desc {
	font-size:1.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 41vw;
	left: 60vw;
}
