body {
  background-color: #FED47A;
}

.account {
	max-width: 6%;
	height: auto;
	position: absolute;
	top: 1vw;
	left: 2vw;
}
.account:hover {
	transform: scale(1.2);
}

.signout {
	max-width: 6%;
	height: auto;
	position: absolute;
	top: 1vw;
	left: 92vw;
}
.signout:hover {
	transform: scale(1.2);
}

main_heading {
	font-size:3vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 2vw;
	left: 15vw;
	right: 15vw;
	text-align: center;
}

.score_1 {
	background-color: #FF0000;
	border: 0.3vw solid #000000;
	border-radius: 5vw;	
	color: black;
	padding: 1vw 1vw;
	text-align: center;
	display: inline-block;
	font-size: 6vw;	
	position: absolute;
	top: 15vw;
	left: 5vw;
}
.score_1:hover {
	transform: scale(1.2);
}

.score_2 {
	background-color: #FF7700;
	border: 0.3vw solid #000000;
	border-radius: 5vw;	
	color: black;
	padding: 1vw 1vw;
	text-align: center;
	display: inline-block;
	font-size: 4vw;	
	position: absolute;
	top: 15vw;
	left: 60vw;
}
.score_2:hover {
	transform: scale(1.2);
}

.score_3 {
	background-color: #FFFF00;
	border: 0.3vw solid #000000;
	border-radius: 5vw;	
	color: black;
	padding: 1vw 1vw;
	text-align: center;
	display: inline-block;
	font-size: 3vw;	
	position: absolute;
	top: 30vw;
	left: 60vw;
}
.score_3:hover {
	transform: scale(1.2);
}

.disease_1 {
	font-size:4vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 16.5vw;
	left: 18vw;
}

.disease_2 {
	font-size:3vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 16.5vw;
	left: 69vw;
}

.disease_3 {
	font-size:2vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 31.5vw;
	left: 69vw;
}

.stat_1 {
	font-size:2vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 27vw;
	left: 5vw;
}

.stat_2 {
	font-size:2vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 33vw;
	left: 5vw;
}

.back {
	background-color: #4CAF50;
	border: 0.3vw solid #000000;
	border-radius: 5vw;	
	color: black;
	padding: 1vw 1vw;
	text-align: center;
	display: inline-block;
	font-size: 2.5vw;	
	position: absolute;
	top: 43vw;
	left: 37vw;
}
.back:hover {
	transform: scale(1.2);
}

.sentence {
	font-size:2.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 26vw;
	left: 18vw;
}

.symptom_pc {
	font-size:2.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 26vw;
	left: 14vw;
}

.symptom_name {
	font-size:2.5vw;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	position: absolute;
	top: 30vw;
	left: 14vw;
}